{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
</head>
{% include 'header/head.html' %}
<body style="background-color: magenta;">
     
    <div class="center">
    
 
    
   <p>{{de.name}}</p>
   <img src="{{de.image}}" alt="">
   <p>{{de.price}}</p>
   <p>{{de.feature1}}</p>    

    
 
    
    <!-- <p class="text1000">Tata Altroz</p>
    <img class="img1" src="{% static 'img/tata altroz.webp'%}" alt="">
    
    <p  class="text1000">MG Hector</p>
    <img class="img1" src="{% static 'img/MG hector.webp'%}" alt="">
    <p class="text1000">Mahindra XUV300</p>
    <img class="img1" src="{% static 'img/mahindra XUV300.webp'%}" alt="">
    <p class="text1000">Maruti Suzuki Swift LDI</p>
    <img class="img1" src="{% static 'img/maruti suzuki swift LDI.webp'%}" alt="">
    <p class="text1000">Hyundai Venue</p>
    <img class="img1" src="{% static 'img/hyundai venue.webp'%}" alt=""> -->
</div>
    

</body>
<div class="footer10">
    {% include 'footer/foot.html' %}
</div>
<style>
    .footer10{
       position: relative;
       top: 700px;
    }
    .te1000{
        position: relative;
        left: 250px;
    }
    </style>
</html>
    